@import url(../../common.css);

body {
  background-color: #aaaaaa;
  font-family: 굴림;
  line-height: 1.5;
  color: #143654;
  font-size: 18px;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* header {
  background-color: #fda432;
  color: white;
  padding: 20px;
} */

header h1 {
  height: 135px;
  font-size: 5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #fda432;
  color: white;
  line-height: 0.4;
  padding-top: 40px;
}

header h1 span {
  font-size: 0.19em;
  /* display가 인라인도 블록처럼 바꿔줌 */
  display: block;
  margin-top: 40px;
}

header h2 {
  color: black;
  font-size: 0.6em;
  text-align: center;
  background-color: #cccccc;
  padding: 3px 0;
}

.container {
background-color: #dddddd;
}

/*

컨테이너 하부의 요소인 사이드, 메인, 배너를 왼쪽으로 정렬함

.container > * {
  float: left;
}

*/
/*

만약 이런식이면 각 컨테이너 구별을 테두리를 통해 가능

.container > * {
  border: 3px solid blue;
} 

*/

.container .side-menu {
  float: left;
  width: 25%;
}

.container .side-menu h3 {
  /* float: left; */
  background-color: #970008;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 5px;
}

.container .side-menu ul {
  color: black;
  background-color: white;
  padding: 8px;
  font-size: 0.7em;
  line-height: 2.5em;
  font-weight: bold;
  text-decoration: underline;
  height: 700px;
}

.container .side-menu ul li a:hover {
  color: red;
}

.container .main-content {
  float: left;
  width: 50%;
}

.container .main-content .title {
  background-color: #143654;
  color: white;
  padding: 5px;
  margin: 15px 5px;
  font-size: 0.7em;
  font-weight: bold;
}

.container .main-content .title a:hover {
  color: yellow;
}

.container .main-content .artist {
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 5px;
}

.container .main-content .detail {
  font-size: 0.6em;
  margin-left: 5px;
}


.container .banner {
  float: right;
  width: 25%;
  background-color: white;
  padding: 8px;
  height: 728.9px;
}

.banner h3 {
  font-weight: bold;
  color: black;
}

.banner h3 span {
  text-decoration: underline;
  display: block;
}

.banner h3 .all {
  color: #999;
}

.banner h3 .love {
  color: #fda432;
}

.banner .link {
  margin-top: 20px;
  font-size: 0.7em;
}

.banner .link li {
  color: black;
  margin-bottom: 10px;
}

.banner .link li a {
  text-decoration: underline;
  font-weight: bold;
  display: block;
}

.banner .link li a:hover {
  color: red;
}

footer {
  background-color: #143654;
  color: white;
  text-align: center;
  font-size: 0.6em;
  padding: 5px 0;
}

footer address a {
  text-decoration: underline;
}
footer address a:hover {
  color: yellow;
}