@import url(../../common.css);

body {
  background-color: #aaaaaa;
  font-family: 굴림;
  line-height: 1.5;
  color: #143654;
  font-size: 18px;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

/* header {
  background-color: #fda432;
  color: white;
  padding: 20px;
} */

header h1 {
  height: 200px;
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #fda432;
  color: white;
}

header h1 span {
  font-size: 0.2em;
  
}

header h2 {
  color: black;
  font-size: 0.6em;
  text-align: center;
  background-color: #cccccc;
  margin: 2px 0;
}

