@import url(../../common.css);

body {
  background-color: #aaaaaa;
  font-family: 굴림;
  line-height: 1.5;
  color: #143654;
  font-size: 18px;
}

#wrapper {
  width: 70%;
  margin: 0 auto;
}

/* header {
  background-color: #fda432;
  color: white;
  padding: 20px;
} */

header h1 {
  font-size: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #fda432;
  color: white;
}

header h1 span {
  font-size: 0.3em;
  
}